---
import { Button } from "@/components/ui/button";
import "../styles/global.css";
---

<html lang="en">
  <body>
    <div class="grid place-items-center h-screen content-center gap-1">
      <div
        class="justify-center items-center flex flex-col p-12 border-1 border-black/50 border-dashed space-y-1 rounded-2xl"
      >
        <a href="https://www.guilded.gg/b/ed9b1718-9d75-46af-928c-271d469890c2">
          <Button>Add to Guilded</Button>
        </a>
        <div class="flex gap-1">
          <a href="https://docs.finishthelyric.pages.dev">
            <Button>Docs</Button></a
          >
          <a href="https://api.finishthelyric.pages.dev">
            <Button>API</Button>
          </a>
        </div>
      </div>
    </div>
  </body>
</html>
